@model IEnumerable<Goodhue.Models.Department>

@foreach (var item in Model)
{
    if (!item.Name.Equals("HHS")) {
        <option value=@item.Name>@item.Name</option>
    }
    else
    {
        <option selected="selected" value="HHS">HHS</option>
    }
}