@model IEnumerable<Goodhue.Models.Department>


@foreach (var item in Model)
{
    if (!item.Name.Equals(ViewBag.DefaultDept))
    {
        <option value=@item.Name.ToString()>@item.Name</option>
    }
    else
    {
        <option selected="selected" value=@ViewBag.DefaultDept>@ViewBag.DefaultDept</option>
    }
}