@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p class="col-md-4">The Goodhue County Pool Car Reservation program is designed for Goodhue County employees who need to reserve a vehicle for business purposes.  It was written during the summer of 2016 by Jonah Tuchow and paid for under a Blandin grant.</p>
<p class="col-md-8"></p>