@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p class="col-md-4">If you have questions about this program, please call the Goodhue County IT helpdesk at ext. 3122 or send an email message to <a href="mailto:helpdesk@co.goodhue.mn.us">helpdesk@co.goodhue.mn.us</a>.</p>
<p class="col-md-8"></p>