@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/Goodhue_county.png" height="100">
        </div>
        <div class="col-md-10">
            <h1>County Car Reservations</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        @using (Html.BeginForm("FindCar", "Home", FormMethod.Get, null))
        {
            <input class="btn-lg btn-primary" type="submit" value="Reserve a Car" /><br /><br />
            <label>Checkout Date &amp; Time</label>
            <input class="form-control text-box single-line" data-val="true" id="startDate" name="startDate" type="text" placeholder="mm/dd/yyyy --:-- --" />
            <label>Return Date &amp; Time</label>
            <input class="form-control text-box single-line" data-val="true" id="endDate" name="endDate" type="text" placeholder="mm/dd/yyyy --:-- --" />
            <p class="text-danger field-validation-error">@ViewBag.Error</p>
        }
    </div>
    <div class="col-md-4" align="center">
        @using (Html.BeginForm("ReturnNext", "Home", FormMethod.Get, null))
        {
            <input class="btn-lg btn-primary" type="submit" value="Return a Car" /><br /><br />
        }
        <p class="text-danger field-validation-error">@ViewBag.UnreturnedRes</p>
    </div>
    <div class="col-md-3" align="right">
        @using (Html.BeginForm("Index", "Cars", FormMethod.Get, null))
        {
            <input class="btn-lg btn-primary" type="submit" value="View Reservations" /><br /><br />
        }
    </div>
    <div class="col-md-1"></div>
</div>

<script>
    $("#startDate").change(function () {
        @ViewBag.Error = "";
    });
</script>
@Scripts.Render("~/Scripts/datetimepickers.js")