@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/Goodhue_county.png" height="100">
        </div>
        <div class="col-md-10">
            <h1>County Car Reservations</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        @using (Html.BeginForm("FindCar", "Cars", FormMethod.Post, null))
        {
            <input class="btn-lg btn-primary" type="submit" value="Reserve a Car" /><br /><br />
            <label>Available For</label>
            <select class="form-control" id="duration" name="duration" type="number">
                <option value="24">Full Day</option>
                <option value="12">Morning</option>
                <option value="-12">Afternoon</option>
                <option value="48">2 Days</option>
                <option value="72">3 Days</option>
                <option value="168">1 Week</option>
            </select>
            <label>Starting on</label>
            <input class="form-control text-box single-line date" data-val="true" id="StartDate" name="StartDate" type="text" value="" placeholder="mm/dd/yyyy" />
        }
    </div>
    <div class="col-md-4" align="center">
        @using (Html.BeginForm("ReturnNext", "Home", FormMethod.Get, null))
        {
            <input class="btn-lg btn-primary" type="submit" value="Return (My Next)" /><br /><br />
            @*<label>Car ID</label>
            <input class="form-control text-box single-line" data-val="true" id="CarID" name="CarID" type="number" min="0" />*@
        }
        <p class="text-danger field-validation-error">@ViewBag.UnreturnedRes</p>
    </div>
    <div class="col-md-3" align="right">
        @using (Html.BeginForm("Index", "Cars", FormMethod.Get, null))
        {
            <input class="btn-lg btn-primary" type="submit" value="View Reservations" /><br /><br />
            @*<label>Car ID</label>
            <input class="form-control text-box single-line" data-val="true" id="CarID" name="CarID" type="number" min="0" />*@
        }
    </div>
    <div class="col-md-1"></div>
</div>

@Scripts.Render("~/Scripts/datetimepickers.js")