@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    *Insert Street Address Here*<br />
    Red Wing, MN 55066<br />
    (555) 555-5555<br />
    <a href="mailto:notarealemail@cyberspace.com">notarealemail@cyberspace.com</a>
</address>