@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    *Street Address*<br />
    Red Wing, MN 55066<br />
    <abbr title="Phone">P:</abbr>
    *Phone Number*
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address>